
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    
    background-color:rgb(243, 240, 235);

    font-family:'Poppins',sans-serif;


    color:#5E4632;
}

/* HERO */

.hero{
    background-image:url(Desktop/2e3e44d5-f476-4f58-8200-96d0417fa8b2.png);
    background-size: cover;

    height:100vh;

    

    display:flex;

    justify-content:left;

    align-items:center;

    text-align:left;

    padding:10px;
}

.hero-content{

    max-width:600px;
}

.hero h1{

    font-size:65px;
    text-align: left;

    color:#111111;

    margin-bottom:20px;
}

.hero p{
    text-align: left;

    font-size:20px;

    line-height:1.8;

    color:#1b1b1b;

    margin-bottom:40px;
}

.explore-btn{

    display:inline-block;

    padding:15px 38px;

    background:#0e0d0d;

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-weight:600;

    transition:.35s;
}

.explore-btn:hover{

    transform:translateY(-5px);

    background:#363636;

    box-shadow:0 15px 35px rgba(32, 32, 32, 0.3);
}

/* MENU SECTION */

.menus{

    padding:120px 8%;
}

.menus h2{

    text-align:center;

    font-size:45px;

    color:#111111;

    margin-bottom:70px;
}



.cards{

    display:flex;

    justify-content:center;

    align-items:stretch;

    gap:35px;

    flex-wrap:nowrap;
}

.card{

    flex:1;

    max-width:350px;

    background:white;

    border-radius:28px;

    padding:40px 30px;

    text-decoration:none;

    color:inherit;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    transition:.4s;
}

.card:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 45px rgba(24, 22, 20, 0.25);
}

.icon{

    width:90px;

    height:90px;

    margin:auto;

    margin-bottom:25px;

    border-radius:50%;

    background:#FFE8C9;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:42px;
}

.card h3{

    text-align:center;

    font-size:28px;

    margin-bottom:15px;

    color:#161616;
}

.card p{

    text-align:center;

    line-height:1.7;

    color:#252423;

    margin-bottom:35px;
}

.card span{

    display:block;

    text-align:center;

    color:#222121;

    font-weight:600;
}

@media(max-width:1000px){

.cards{

    flex-wrap:wrap;
}

.card{

    max-width:450px;
}

.hero h1{

    font-size:48px;
}

.hero p{

    font-size:18px;
}

}

.contact{

    text-align:center;

    padding:40px;

}

.contact p{
    

    margin:12px;

}

.contact a{
    color:#1d1c1b;

    padding:15px 35px;

    transition:.3s;


}

.contact h2{
    color:#161615;
}





/* --------------------
      FOOTER
-------------------- */

footer{

    background:#e0dedc;

    text-align:center;

    padding:20px;

    margin-top:40px;

}


.img img {
    width: 100%;
   height:230px;
   object-fit: cover;
   border-radius: 7%;

}